<!-- Importar el diseño de la plantilla -->
{% extends 'plantilla.html' %}

<!-- Enlazar archivo CSS -->
{% load static %}

<!-- Cambiar titulo a la pestaña de navegación -->
{% block title %}Crear Pedido{% endblock %}

<!-- Imagen como icono de pestaña -->
{% block head %}
    <link rel="shotcut icon" href="https://th.bing.com/th?id=OIP.ZHg7QTq8a5EWstmuzJ-W0QHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.1&pid=3.1&rm=2">
{% endblock %}

<!-- Contenido individual -->
{% block body %}
<link rel="stylesheet" href="{% static 'pedidos/css/login_registro.css' %}">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            <div class="card mt-3">
                <div class="card-header text-center">
                    <h4><i class="fa-solid fa-file-circle-plus" style="color: #ffffff;"></i>&nbsp; Crear pedido</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'pedidos:crear_pedido' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="txtMesa" class="form-label">Numero de mesa</label>
                            <input type="number" class="form-control" id="mesa" name="mesa" required>
                        </div>
                        <div class="mb-3">
                            <label for="txtPlatillo" class="form-label">Platillo</label>
                            <input type="text" class="form-control" id="platillo" name="platillo" required>
                        </div>
                        <button type="submit" class="btn w-100">Solicitar Pedido</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Creación de Pedido Exitoso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">¡El pedido ha sido creado exitosamente!</div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn" id="redirectMesero"><a href="{% url 'pedidos:adminMesero' %}">Regresar</a></button>
            </div>
        </div>
    </div>
</div>

{% if pedido_creado %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#exampleModalCenter').modal('show');
    });
</script>
{% endif %}


{% endblock %}
<!-- Fin Contenido individual -->